@import url("@fontsource/poppins");
* {
  font-family: "Poppins";
}

$lgFSize: 13px;
$smFSize: 12px;
$mainContainerSize: 80px 10px 0 300px;

.form-60 {
  width: 60%;
  font-size: $smFSize;
}

.form-100 {
  width: 60%;
  font-size: $smFSize;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.grid-item {
  text-align: left;
  padding-right: 10px;
  width: 100%;
}

.mainContainer {
  margin: $mainContainerSize;
}

.docnoInput {
  font-weight: bold;
}

.globalInputSize {
  height: 35px;
  font-size: $smFSize;
}

.pagination {
  font-size: $smFSize;
}

.standardFontSize {
  font-size: $lgFSize;
}

.standardButton {
  width: 100%;
  font-size: $lgFSize;
}

.print {
  display: none;
}

.print-body {
  padding: 50px 20px 20px 20px;
}

@media print {
  .dontPrint {
    display: none;
  }
  .print {
    display: block;
    margin: 0;
    padding: 0;
  }
  .mainContainer {
    margin: 0;
    padding: 0;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}
