@import url("@fontsource/poppins");
* {
  font-family: "Poppins";
}

$lgFSize: 13px;
$smFSize: 12px;
$mainContainerSize: 80px 10px 0 300px;

.font-13 {
  font-size: $lgFSize;
}

.font-12 {
  font-size: $smFSize;
}

.font-10 {
  font-size: 10px;
}

.m-bttm-10 {
  margin-bottom: 10px;
}

.standardTable {
  width: 100%;
  font-size: $smFSize;
}

.form-60 {
  width: 60%;
  font-size: $smFSize;
}
.form-80 {
  width: 80%;
  font-size: $smFSize;
}
.form-100 {
  width: 100%;
  font-size: $smFSize;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
.grid-item {
  text-align: left;
  padding-right: 10px;
  width: 100%;
}

.mainContainer {
  margin: $mainContainerSize;
}

.docnoInput {
  font-weight: bold;
}

.globalInputSize {
  height: 35px;
  font-size: $smFSize;
}

.pagination {
  font-size: $smFSize;
}

.standardFontSize {
  font-size: $lgFSize;
}

.standardButton {
  width: 100%;
  font-size: $lgFSize;
}

.btn-100 {
  width: 100px;
  font-size: $lgFSize;
}

.btn-200 {
  width: 200px;
  font-size: $lgFSize;
}

.form-btn {
  height: 35px;
  font-size: 12px;
}

.print {
  display: none;
}

.modal-action-btn {
  width: 130px;
  margin-top: 20px;
  margin-left: 5px;
}

.print-body {
  padding: 50px 20px 20px 20px;
}

@media print {
  .dontPrint {
    display: none;
  }
  .print {
    display: block;
    margin: 0;
    padding: 0;
  }

  .mainContainer {
    margin: 0;
    padding: 0;
  }
  @page {
    size: auto;
    margin: 0mm;
  }
}
